$colors: (
    btn-principal: hsl(0, 8%, 10%),
    secundary: hsl(0, 0%, 39%),
    third: hsl(0, 0%, 13%)
);

$genere_color: (
    female: hsl(334, 74%, 46%),
    male: hsl(205, 100%, 33%)
)
